    p.edge {
            color: red;
        }
        
        p+h1,
        p#MyTitle3 a~b {
            color: yellow;
        }
        
        #MyTitle2,
        p#MyTitle3,
        #MyTitle4 a+b {
            color: blue;
        }
        
        #Title4_text {
            color: green;
            ;
        }

        #MyTitle1 {
            color: black;
        }