a {
	text-decoration: none;
}

[class^="green"]{
    color: green;
}
[class^="red"]{
    color: red;
}
[class$="brown"]{
    color: brown;
}
#yellow,#yellow + p{
    color: yellow;
}
[id$="first"]{
    color: black;
}